<div class="col-md-2">
    <ul >

        <li role="presentation">
            <a href="/admin"><button class="btn btn-brand pill" style="font-size: 24px; color: whitesmoke; width: 50%; margin-bottom: 10px; background-color:#419ba4 ">Video</button>
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/program"><button class="btn btn-brand pill" style="font-size: 24px;color: whitesmoke; width: 50%;margin-bottom: 10px; background-color:#419ba4 ">Program</button>
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/users"><button class="btn btn-brand pill" style="font-size: 24px;color: whitesmoke; width: 50%;margin-bottom: 10px; background-color:#419ba4 ">Korisnici</button>
            </a>
        </li>

    </ul>
</div>