<!-- Footer Area Start -->
<footer class="footer-area bg-gray">
    <div class="footer-widget-area bg-3 pt-98 pb-90 fix">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer-widget">
                        <a href="index.html"><img src="/images/logo/logo1.png" alt="handstand"></a>
                        <p>Radno vreme <b>MatPilates</b> studija je:
                            <br>


                            Ponedeljak - petak: 09h - 13h i 17h - 21h

                            <br>

                            Subota: 09h - 13h </p>
                        <ul>
                            <li><i class="zmdi zmdi-email"></i> matpilates@matpilates.rs</li>
                            <li><i class="zmdi zmdi-phone"></i> 011 383 7194</li>
                            <li><i class="zmdi zmdi-phone"></i> 060 444 2990</li>
                            <li><i class="zmdi zmdi-home"></i> Gvozdićeva 6, 11050 Beograd - Zvezdara (Lion)</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-100">
                        <div class=" single-footer-widget widget-instagram">
                                <h3>Instagram</h3>
                                <div id="instafeedFooter" class="instafeed" data-insta-number="12"></div>
                        </div><!-- .col-md-3 end -->
                    </div><!-- / .widget -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer-widget">
                        <h3>Navigacija</h3>
                        <ul>
                            <li><a href="/about">O nama</a></li>
                            <li><a href="/program/individualni-trening">Individualni Trening</a></li>
                            <li><a href="/program/mini-grupa">Mini Grupa</a></li>
                            <li><a href="/program/online-trening">Online Trening</a></li>
                            <li><a href="/videos">Online Trening - Video</a></li>
                            <li><a href="/#ponuda">Ponuda</a></li>
                            <li><a href="/#gallery">Galerija</a></li>

                        </ul>

                    </div>
                </div>
                </div><!-- / .col-md-3 -->

            </div>
        </div>
    </div>
    <div class="footer-text-area fix bg-coffee ptb-18">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center">
                        <span> Photography © <a href="https://www.merrithew.com/">Merrithew Corporation</a>. Used with permission. </span>
                        <span>kopirajt &copy; <a href="#">K474 M0R64N4</a> 2019. blablabla</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->