<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>MatPilates - Dobro došli</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

<!-- All css here -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/shortcode/shortcodes.css">
<link rel="stylesheet" href="/css/slick.css">

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<script src="/js/vendor/modernizr-2.8.3.min.js"></script>


<!-- Footer Scripts
============================================= -->
<script src="/js/functions.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/pluginss.js"></script>