<!doctype html>
<html class="no-js" lang="en">
<head>
    <% include partials/scripts.ejs %>
</head>
<body>
<!-- Header -->
<% include partials/header.ejs %>

<section id="about" class="about-area pt-95 pb-100" >
    <div class="container" >
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-content">
                    <h2>O nama</h2>
                    <p class="m-0">
                        <br>
                        <br>
                        <strong>Studio Marina Trifunovic Mat Pilates</strong> je počeo sa radom jula 2015.godine sa vizijom da podigne standarde u načinu vežbanja i pristupu klijentima.
                        <br>
                        <br>

                        Misija nam je da, pored treniranja u cilju poboljšanja estetike tela, prosperirate i kroz zdravstvene aspekte vežbanja.
                    </p><br>
                    <p>
                        Rad našeg studija temelji se na principima <strong>STOTT PILATES®</strong> škole - svakako najprestižnije i najcenjenije škole na svetskoj Pilates sceni.
                    </p>
                    <p>
                        Nalazimo se na Zvezdari, tačnije na Lionu, u mirnoj ulici ušuškanoj od buke Bulevara kralja Aleksandra.
                    </p>
                    <p>
                        Prostor za vežbanje je izuzetno svetao, sa prirodnom ventilacijom, čist i nov, nudi sve što vam je potrebno za maksimalan komfor i ugodnost tokom vežbanja.
                    </p>
                    <p>
                        <strong>Mat Pilates</strong> studio je opremljen rekvizitima brenda Merrithew, Sisel i Sidea, koji su vodeći proizvođači vrhunske Pilates opreme.
                    </p>
                    <p>
                        <strong>Kvalitet, stručnost i profesionalizam</strong> kod nas se podrazumevaju, a znanje kontinuirano nadoknaduje edukacijama i praćenjem noviteta u zemlji i inostranstvu.
                    </p>
                    <p>
                        Više nego dovoljno razloga da već danas pozovete MatPilates studio na <strong>0113837194</strong> ili <strong>0604442990</strong> i zakažete svoj prvi trening!
                    </p>

                    <br>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-top: 30px">
                <div class="about-video active">

                        <a href="#"><img src="/images/about/marina2.jpg" alt="about"></a>

                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-top: 30px">
                <div class="about-video active">

                    <a href="#"><img src="/images/about/studio3.jpg" alt="about"></a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start of Map Area -->
<div class="map-area">
    <!-- google-map-area start -->
    <div class="google-map-area">
        <!--  Map Section -->
        <div id="contacts" class="map-area">
            <div id="googleMap" style="width:100%;height:380px;"></div>
        </div>
    </div>
</div>
<!-- End of Map Area -->
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs%>


</body>
</html>
